# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# =====================================================
# VIRTUAL ENVIRONMENTS
# =====================================================

venv/
.env/


# =====================================================
# OS FILES
# =====================================================

.DS_Store
Thumbs.db


# =====================================================
# LOGS
# =====================================================

*.log


# =====================================================
# TEMP FILES
# =====================================================

temp/*
!temp/.gitkeep


# =====================================================
# BUILD / CACHE
# =====================================================

requirements_lock.txt


# =====================================================
# GENERATED OUTPUTS
# =====================================================

assets/output/